.view-collection .collection-view .collection {
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.view-collection .collection-view .collection:not(:last-child) {
  border-bottom: 1px solid black;
}
